[submodule "coco-caption"]
	path = coco-caption
	url = https://github.com/tylin/coco-caption.git
[submodule "densevid_eval"]
	path = densevid_eval
	url = https://github.com/ranjaykrishna/densevid_eval.git
